:root {
    --carrara-white: #f3f4ef;
    --mobile-edges: clamp(0px, 10vw, 30px);
    --tablet-edges: clamp(30px, 10vw, 45px);
    --desktop-edges: clamp(45px, 10vw, 60px);
    --large-edges: clamp(60px, 10vw, 120px);
}

* {
    padding: 0px;
    margin: 0px;
    line-height: 1;
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--carrara-white);
}
