:root {
    --carrara-white: #f3f4ef;
    --mobile-edges: 15px;
    --tablet-edges: 30px;
    --desktop-edges: 45px;
    --large-edges: 60px;
}

* {
    padding: 0px;
    margin: 0px;
    line-height: 1;
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--carrara-white);
}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
